*[valueEmpty=true]{
    font-size:200%;
    color:red;
}

*:indeterminate{
    font-size:200%;
    color:red;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */    
}


.option-more-info{
    display: inline-block;
    min-width: 80px;
}